{% paginate collection.products by 12 %}
  <div class="section--main">

    <div class="grid">
      <div class="grid__item">
        <div class="breadcrumbs">
          {% include 'breadcrumbs' %}
        </div>
      </div>
    </div>

    <header role="banner" class="grid   grid--middle  medium-up--grid--rev  collection-header">
  
      <div class="grid__item  medium-up--one-half    pull--large-up--one-twelfths">
       <div class="grid grid--center">
         <div class="grid__item eight-twelfths  medium-up--eleven-twelfths">
            <div class="collection-header__hero-image">
            {% if collection.image %}
              {{ collection.image | img_url: 'large' | img_tag }}
            {% endif %}
          </div>
         </div>
       </div>
      </div>  

      <div class="grid__item  medium-up--one-half ">
         <div class="grid  grid--center"> 
          <div class="grid__item ten-twelfths medium-up--eleven-twelfths  large-up--nine-twelfths">
            <h1 class="collection-header__headline  headline">{{ collection.title }}</h1>
           <div class="collection-header__description rte">
            {% if collection.description != blank %}
             {{ collection.description }}
            {% endif %}
           </div>
          </div>
        </div>
      </div>

    </header>
  </div>

  <div class="collection-filters" data-collection-filter>
    <div class="collection-filters__inner  flex-grid  flex-grid--flex-direction-row  flex-grid--justify-space-between">
      {% if collection.all_tags.size > 0 %}
      
      <div class="collection-filters__tags">
        <div >
          {% if current_tags %}
            <span class="collection-filters__tags__toggle" data-current-filter role="button" data-tags-toggle>
            {{current_tags}}
            </span> 
            <span class="collection-filters__tags__clear">
              ({{ 'Clear Filter' | link_to_tag: ''}})
            </span>
          {% else %}
            <span  class="collection-filters__tags__toggle" data-tags-toggle role="button">Filter By </span>
          {% endif%}
        </div>
        <ul class="collection-filters__tags__list"  data-tags-list> 
          {% for type in collection.all_types %}
              <li class="collection-filters__tags__tag">
                {{type | link_to_tag: type }} 
              </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="collection-filters__sorting">
       <div role="button" class="collection-filters__sorting__toggle" data-sorter-toggle>Sort By</div>
        <select class="collection-filters__sorting__select" data-sorter-select>
          <option value="manual">
            Sort By Featured
          </option>
          <option value="best-selling">
            Sort By  Best Selling
          </option>
          <option value="price-ascending">
            Sort By Price Ascencing
          </option>
          <option value="price-descending">
            Sort By Price Descending
          </option>
          <option value="title-ascending">
            Sort By A-Z
          </option>
          <option value="title-descending">
            Sort By Z-A
          </option>
          <option value="created-ascending">
            Sort By Oldest to Newest
          </option>
          <option value="created-descending">
            Sort By Newest to Oldest
          </option>
        </select>
      </div>
    </div>
  </div>
  

  {% if collection.products_count > 0 %}
  <div class="grid  grid--full  flex-grid  flex-grid--stretch  flex-grid--flex-wrap  collection__products">
    {% for product in collection.products %}
      <div class="grid__item  one-half  large-up--one-quarter">
        <a href="{{ product.url | within: collection }}" class="collection-product">
          <div class="collection-product__inner">
             {% unless product.available %}
             <div class="collection-product__sold-out">
                  {{ 'products.product.sold_out' | t }}
             </div>
            {% endunless %}
            <div class="collection-product__image  grid  grid--full  grid--bottom  flex-grid  flex-grid--bottom">
              {% if product.featured_image != blank %}
                  {{ product.featured_image.src | img_url: '800x800' | img_tag: product.featured_image.alt , 'grid__item'}}
              {% endif %}
            </div>

            <div class="collection-product__info  flex-grid  flex-grid--center">
              <div class="collection-product__info__primary flex-grid  flex-grid--center  flex-grid--justify-space-between  flex-grid--flex-wrap med-flex-grid--flex-no-wrap">
                <h2 class="collection-product__info__title">{{ product.title }}</h2>
                <p class="collection-product__info__price {% if product.compare_at_price > product.price %} collection-product__info__price--on-sale{%endif%}">
                {%if product.available %}
                  {% if product.compare_at_price > product.price %}
                
                    {% if product.price_varies %}
                     <span class="collection-product__info__price__sale">
                      {%- assign sale_price = product.price | money -%}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                      </span>
                    {% else %}
                      <span class="visually-hidden">
                      {{ 'products.product.on_sale' | t }}
                      </span>
                     <span class="collection-product__info__price__sale">
                      {{ product.price | money }}
                    </span>
                    {% endif %}
                  {% else %}
                     <span class="collection-product__info__price__normal">
                    {% if product.price_varies %}
                      {%- assign price = product.price | money -%}
                      {{ 'products.product.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                    </span>
                  {% endif %}
                
                  {% if product.compare_at_price > product.price %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                     <span class="collection-product__info__price__normal">
                    {{ product.compare_at_price | money }}
                    </span>
                  {% endif %}

                {%else%}
                  Sold out
                {%endif%}
                </p>
              </div>
              

              <ul class="collection-product__info__options  flex-grid  flex-grid--center flex-grid--flex-direction-row  flex-grid--flex-wrap">
              {% for variant in product.variants %}
                <li> 
                 <span class="collection-product__info__options__option  flex-grid  flex-grid--center  flex-grid--justify-center {% if variant.available == false %}collection-product__info__options__option--sold-out {% endif %}">
                  <span class="flex-grid-cell">{{ variant.title }}</span>
                  </span>
                </li>
              {% endfor %}
              </ul>

            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {%else%}

  <div class="collection__nothing-in-stock flex-grid  flex-grid--center  flex-grid--justify-center">
    <h1 class="collection__nothing-in-stock__title">
      It appears we've sold out of {{current_tags}} for this collection, check back later! 
    </h1>
  </div>
  {% endif %}




  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

