{% paginate collection.products by 12 %}
  <div class="section--main">

    <div class="grid">
      <div class="grid__item">
        <div class="breadcrumbs">
          {% include 'breadcrumbs' %}
        </div>
      </div>
    </div>

    <header role="banner" class="grid   grid--middle  medium-up--grid--rev  collection-header">
  
      <div class="grid__item  medium-up--one-half    pull--large-up--one-twelfths">
       <div class="grid grid--center">
         <div class="grid__item eight-twelfths  medium-up--eleven-twelfths">
            <div class="collection-header__hero-image">
            {% if collection.image %}
              {{ collection.image | img_url: 'large' | img_tag }}
            {% endif %}
          </div>
         </div>
       </div>
      </div>  

      <div class="grid__item  medium-up--one-half ">
         <div class="grid  grid--center"> 
          <div class="grid__item ten-twelfths medium-up--eleven-twelfths  large-up--nine-twelfths">
            <h1 class="collection-header__headline  headline">{{ collection.title }}</h1>
           <div class="collection-header__description rte">
            {% if collection.description != blank %}
             {{ collection.description }}
            {% endif %}
           </div>
          </div>
        </div>
      </div>

    </header>
  </div>

  <div class="collection-filters" data-collection-filter>
    <div class="collection-filters__inner  flex-grid  flex-grid--flex-direction-row  flex-grid--justify-space-between">
      {% if collection.all_tags.size > 0 %}
      
      <div class="collection-filters__tags">
        <div role="button" class="collection-filters__tags__toggle" data-tags-toggle>Filter By <span data-current-filter></span></div>
        <ul class="collection-filters__tags__list"  data-tags-list> 
          {% for type in collection.all_types %}
              <li class="collection-filters__tags__tag">
                <a href="#filter" data-filter="{{type}}">{{type}}</a>
              </li>
          {% endfor %}
            <li>
              <a href="{{canonical_url}}" title="all">Show Everything</a>
            </li>
        </ul>
      </div>
      {% endif %}

      <div class="collection-filters__sorting">
       <div role="button" class="collection-filters__sorting__toggle" data-sorter-toggle>Sort By <span data-current-sort></span></div>
       <ul class="collection-filters__sorting__list"   data-sorter-list>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="manual">Featured</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="best-selling">Best Selling</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="price-ascending">Price: Low to High</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="price-descending">Price: High to Low</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="title-ascending">A-Z</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="title-descending">Z-A</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="created-ascending">Oldest to Newest</a></li>
         <li><a href="#sort" class="collection-filters__sorting__option" data-select="created-descending">Newest to Oldest</a></li>
       </ul>
      </div>
    </div>
  </div>

  <div class="grid  grid--full  flex-grid  flex-grid--stretch  flex-grid--flex-wrap  collection__products">
    {% for product in collection.products %}
      <div class="grid__item  one-half  large-up--one-quarter">
        <a href="{{ product.url | within: collection }}" class="collection-product">
          <div class="collection-product__inner">
             {% unless product.available %}
             <div class="collection-product__sold-out">
                  {{ 'products.product.sold_out' | t }}
             </div>
            {% endunless %}
            <div class="collection-product__image  grid  grid--full  grid--bottom  flex-grid  flex-grid--bottom">
              {% if product.featured_image != blank %}
                  {{ product.featured_image.src | img_url: '800x800' | img_tag: product.featured_image.alt , 'grid__item'}}
              {% endif %}
            </div>

            <div class="collection-product__info  flex-grid  flex-grid--center">
              <div class="collection-product__info__primary flex-grid  flex-grid--center  flex-grid--justify-space-between  flex-grid--flex-wrap med-flex-grid--flex-no-wrap">
                <h2 class="collection-product__info__title">{{ product.title }}</h2>
                <p class="collection-product__info__price">
                  
                  {% if product.compare_at_price > product.price %}
                
                    {% if product.price_varies %}
                      {%- assign sale_price = product.price | money -%}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      {{ 'products.product.on_sale' | t }}
                      {{ product.price | money }}
                    {% endif %}
                
                  {% else %}
                
                    {% if product.price_varies %}
                      {%- assign price = product.price | money -%}
                      {{ 'products.product.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                
                  {% endif %}
                
                  {% if product.compare_at_price > product.price %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    {{ product.compare_at_price | money }}
                  {% endif %}
                
               
                </p>
              </div>
              

              <ul class="collection-product__info__options  flex-grid  flex-grid--center flex-grid--flex-direction-row  flex-grid--flex-wrap">
              {% for variant in product.variants %}
                <li> 
                 <span class="collection-product__info__options__option  flex-grid  flex-grid--center  flex-grid--justify-center {% if variant.available == false %}collection-product__info__options__option--sold-out {% endif %}">
                  <span class="flex-grid-cell">{{ variant.title }}</span>
                  </span>
                </li>
              {% endfor %}
              </ul>

            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

