
<div data-section-id="{{ section.id }}" data-section-type="header" data-template="{{ template.name }}">
  <header class="header"  role="banner">
    
    <div class="header__inner  flex-grid  flex-grid--center  flex-grid--justify-space-between">

      <div class="header__actions  flex-grid  flex-grid--center">
        <button class="header__menu-toggle  large-up--hide"  data-menu-toggle>
          <div class="menu-toggle__icon">
            
          </div>
        </button>
        
        <div class="header__search-toggle">
          <button class="search-toggle" data-search-toggle>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 419.5 402.8" class="search-toggle__icon"><path d="M396.1 353.4L279 235.7c16.9-24 27-53.2 27-84.8 0-81-65.3-146.6-145.8-146.6C79.7 4.2 14.4 69.8 14.4 150.8s65.3 146.6 145.8 146.6c31.5 0 60.5-10.1 84.4-27.2L361.7 388c4.8 4.8 11 7.2 17.2 7.2 6.2 0 12.5-2.4 17.2-7.2 9.5-9.5 9.5-25 0-34.6zM239.4 207.3l-9.6 13.5-13.4 9.6c-16.6 11.9-36 18.1-56.2 18.1-53.6 0-97.2-43.9-97.2-97.8s43.6-97.8 97.2-97.8 97.2 43.9 97.2 97.8c0 20.4-6.2 40-18 56.6z"/></svg>
          </button>
        </div>
      </div>


      <div class="header__logo">
        {% if template.name == 'index' %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 613.9 614" ><title>SCOUT Logo</title><path d="M306.9,614C136,613.3-.4,475.7,0,306.2S136.6-.2,307.2,0C479.3.2,614.3,140,613.9,307.7S478.8,613.3,306.9,614Zm286-307.1c.2-157.4-127.7-284-282.1-286C153.1,18.8,22.4,145.9,20.9,304.1,19.5,464.6,149.5,591.5,304,593,462.6,594.5,593.3,465.5,592.9,306.9Z"/><path d="M26.7,306.9C26.9,152.2,152.6,26.6,307.2,26.7c153,.1,280.1,124.1,279.9,280.6S459.3,587.4,306.4,587.1,26.8,461.6,26.7,306.9Zm380.2-20.6h1c1-5.7,2.4-11.3,3-17,2-20.9-5.1-37.9-22.5-50.2a76.4,76.4,0,0,0-16.5-8.7c-17-6.6-34.8-8.9-52.8-9.5-10.3-.3-20.6.1-30.8.5a152.4,152.4,0,0,0-30.8,4.3c-11.3,2.7-22.1,6.6-31.7,13.3-11.2,7.8-18.7,18.1-21.8,31.4-2.3,10-1.5,20,.8,29.9.5,2.1,1.2,4.2,1.9,6.8l1.5-2.6c2.3-4.9,4.7-9.8,7.1-14.7a10.8,10.8,0,0,0,1.1-5.3c-.2-7.9,1.2-15.4,5.5-22.2a43.1,43.1,0,0,1,15.6-14.4c9.7-5.5,20.2-8.5,31-10.4a191.3,191.3,0,0,1,33.8-3c15.8-.2,31.6.4,47.1,3.7,10.4,2.2,20.4,5.3,29.3,11,13.1,8.3,19.3,20.1,18.8,35.6a9.3,9.3,0,0,0,1,4.6c2.2,5,4.7,10,7.2,15A19.9,19.9,0,0,0,406.9,286.3ZM286.4,520.6c.1-3.5.3-6.9.5-10.4a281.4,281.4,0,0,0-9.2-84.7c-7.8-29.2-19.7-56.9-31.4-84.6-2.4-5.5-5.1-10.9-7.7-16.3-.4-1-1-2-1.8-3.5a76.7,76.7,0,0,0-5.6,18.3,3,3,0,0,0,.2,1.6c.8,2.3,1.6,4.6,2.6,6.8,10.6,23.2,20.3,46.8,27.7,71.2a273.1,273.1,0,0,1,10.6,52.2c1.4,14.9,1.1,29.8.6,44.7v4.7Zm54.8-.1c0-1.4,0-2.4-.1-3.4l-.3-13.1a259.9,259.9,0,0,1,3.5-51.4c3.3-18.8,8.7-37.1,15.1-55s13.2-33.5,20.7-49.9c2.3-4.8,3.3-9.7,1.2-14.9-1.1-3-2.1-6.1-3.2-9.1a17.7,17.7,0,0,0-1.2-2.4c-.7,1.4-1.3,2.5-1.8,3.7l-11,24.9a580.1,580.1,0,0,0-23.4,60.7,298.5,298.5,0,0,0-11.9,53.6c-2.3,18.3-2,36.7-1.3,55a2.8,2.8,0,0,0,.4,1.3Zm12.2-287.3-.7.7c.3.9.6,1.9,1,2.8,5.6,12.9,11.1,25.9,16.9,38.7s11.6,23.6,17.3,35.5,9,22,9.5,34.1-2.4,21.2-10.7,28.9a30.2,30.2,0,0,0-8,12.6l-3.4,8.7c-.3.8-.5,1.6-1,3a56.8,56.8,0,0,0,11.8-6.1,52.8,52.8,0,0,0,19.6-21c5.8-11.5,6.6-23.7,4.5-36.2A118.8,118.8,0,0,0,399,302.3c-9.9-19.7-19.6-39.5-28.1-59.8a5.9,5.9,0,0,0-3.5-3.6Zm-91.8.2a59.8,59.8,0,0,0-16.6,6.4,6,6,0,0,0-1.9,2.7c-8.7,20.4-18.4,40.3-28.3,60.1-6.3,12.7-11,25.9-12,40.3s2.8,27.6,12.6,38.7c5.9,6.8,13.3,11.7,21.5,15.5a22.6,22.6,0,0,0,3,1.1c-2.3-5.8-4.4-11-6.4-16.3a13.7,13.7,0,0,0-4.1-5.8A34.7,34.7,0,0,1,217.1,355a50.6,50.6,0,0,1,.2-18.2c1.9-10.4,5.7-20,10.4-29.3,9.7-19.4,19.1-38.9,27.6-58.9C257.3,243.7,259.3,238.8,261.6,233.4Zm15.2-45.3c9.3-32.3,11.9-64.9,9.4-98.1l-12.2.5a6.3,6.3,0,0,0-1.4.4c2.1,33.6-.3,66.7-10.6,99.4Zm74.9,2.2c-.5-1.7-.8-3-1.2-4.4a279.3,279.3,0,0,1-7.3-34.1c-2.7-18.1-3-36.3-2.2-54.6.1-2.1.1-4.3.1-6.8h-6.9l-6.5-.3c-2.2,33.5-.1,66.2,9.4,98.1Zm-20.5,204a268.7,268.7,0,0,1-48.3,0c1.2,4,2.4,7.5,3.5,11s1.1,3.5,4.6,3.5h27.7l5.9-.2a2.7,2.7,0,0,0,2.6-1.8C328.4,402.8,329.7,398.7,331.2,394.3Z"/></svg>
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
  
      <div class="header__actions flex-grid flex-grid--justify-end">

        <div class="header__cart-toggle">
          <a href="/cart" class="cart-toggle">
            <span class="cart-toggle__count">{{ cart.item_count }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 419.5 402.8" class="cart-toggle__icon"><path d="M419.5 393.3l-18-292c-.3-4.7-4.2-8.4-9-8.4H291.2V81.4c0-44.9-36.5-81.4-81.4-81.4s-81.4 36.5-81.4 81.4v11.4H27c-4.8 0-8.7 3.7-9 8.4l-18 292c-.2 2.5.7 4.9 2.4 6.7 1.7 1.8 4.1 2.8 6.6 2.8h401.5c2.5 0 4.9-1 6.6-2.8 1.7-1.7 2.5-4.1 2.4-6.6zM146.3 81.4c0-35 28.4-63.4 63.4-63.4s63.4 28.4 63.4 63.4v11.4H146.3V81.4zM18.6 384.8l16.9-274H384l16.9 274H18.6z"/></svg>
          </a>
        </div>

        {% if shop.customer_accounts_enabled %}
<!--           <ul>
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul> -->
        {% endif %}
      </div>

    </div>

  
      <nav role="navigation"  class="header__navigation  is-closed" data-off-canvas-menu>
        <div class="header__navigation__inner">
          <ul class="header__navigation__links  [ flex-grid flex-grid--flex-direction-column  large-flex-grid--center   large-flex-grid--flex-direction-row   large-flex-grid--justify-space-around ]">
            {% for link in linklists[section.settings.main_linklist].links %}
              {% if link.links != blank %}
                <li class="header__navigation__item  flex-grid-cell  flex-grid-cell--auto-size">
                  <button class="header__navigation__link  header__navigation__link--dropdown" data-toggle-id="{{ forloop.index }}"
                        data-drop-down-toggle><span>{{ link.title | escape }}</span>
                  </button>
                  <ul class="header__navigation__dropdown  flex-grid  large-flex-grid--flex-direction-column  large-flex-grid--flex-wrap" data-drop-down-id="{{forloop.index}}">
                    {% for childlink in link.links %}
                      {% if childlink.links != blank %}
                        <li class="header__navigation__dropdown__item  flex-grid-cell  flex-grid-cell--auto-size">
                          <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                          <ul>
                            {% for grandchildlink in childlink.links %}
                              <li>
                                <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li class="header__navigation__dropdown__item  flex-grid-cell  flex-grid-cell--auto-size">
                          <a href="{{ childlink.url }}" class="header__navigation__dropdown__link">{{ childlink.title | escape }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>

                </li>
              {% else %}
                <li  class="header__navigation__item  flex-grid-cell  flex-grid-cell--auto-size"> 
                  <a href="{{ link.url }}"  class="header__navigation__link"  {% if link.type == 'collection_link' %} data-collection="{{link.object.handle }}" {% endif %}><span>{{ link.object.handle}}</span></a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>

  </header>

  <div class="search-modal  is-closed" data-search-modal>
    <div class="search-modal__inner  flex-grid  flex-grid--center  flex-grid--justify-center">

      <button class="search-modal__close" data-search-toggle>
      </button>

      <form action="/search" method="get" role="search">
        <label for="Search" class="search-modal__input__headline  medium-up--hide">
          Search the store
        </label>
        <div class="search-modal__input-container">
          <input type="search"
                 name="q"
                 id="Search"
                 value="{{ search.terms | escape }}"
                 placeholder="search query" 
                 class="search-modal__input"
                 data-search-input>
          <button type="submit" class="search-modal__input__help">
            <span class="small--hide  medium-up--show">press enter to search</span>
          </button>
        </div>
      </form>
    </div>
  </div>

</div>


{% include 'ajax-cart-template' %}
{% include 'ajax-cart-empty' %}



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
